---
import App from '#src/ReduxApp'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-us" />
    <link rel="icon" href="https://craps.tdodge.consulting/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Mystery Of Fifty Series" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="https://craps.tdodge.consulting/favicon-512.png?2" />
    <meta property="og:title" content="Craps" />
    <meta property="og:description" content="Play Craps Now" />
    <meta name="og:type" content="website" />
    <meta property="og:image" content="https://craps.tdodge.consulting/favicon-og.png?2" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="og:url" content="https://craps.tdodge.consulting" />
    <title>CRAPS</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <App client:only="react" />
  </body>
</html>
